.card {
  max-width: 300px;
  text-align: center;
  box-shadow: 1px 1px 5px black;
  margin: 20px;
  padding: 10px;
}
.card:hover {
  background-color: rgb(134, 134, 134);
}

.card .tipoProducto {
  background-color: white;
  text-align: right;
  border: 1px dotted green;
}

.card img {
  max-height: 150px;
}

.card h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card span {
  color: rgb(45, 90, 84);
  font-weight: bold;
  font-size: 1.3rem;
}

.card p {
  color: black;
  background-color: rgb(86, 184, 69);
  border-radius: 10px;
  padding: 5%;
}
.productos {
  display: flex;
  flex-wrap: wrap;
}

.btn-admin {
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;
  background-color: transparent;
  text-transform: uppercase;
}

.btn-admin:nth-child(1) {
  background-color: rgb(81, 172, 81);
}

.btn-admin:nth-child(2) {
  background-color: rgb(168, 80, 168);
}

.btn-admin:nth-child(3) {
  background-color: rgb(187, 187, 59);
}

.admin-view {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
